@page
@model RunTheGameModel

@{
    ViewData["Title"] = "RunTheGame";
}

<h2>Bot Results</h2>

<ol>
    @foreach(var botRank in Model.BotRankings)
    {
        <li>@botRank.BotName: @botRank.Wins-@botRank.Losses</li>
    }
</ol>

<h3>Full Game Results</h3>

@foreach (var fullResults in Model.AllFullResults)
{
    <div>
        <h4>Results for @fullResults.BotName</h4>
            @foreach (var matchResult in fullResults.MatchResults)
            {
                <ul>
                    <li>Winner: @matchResult.Winner.Name</li>
                    <li>Loser: @matchResult.Loser.Name</li>
                </ul>
            }
    </div>
}
